<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Upload New File
    <!-- <small>Click the plus button or drag and</small> -->
  </h1>
  <!-- <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> Level</a>
    </li>
    <li class="active">Here</li>
  </ol> -->
</section>

<!-- Main content -->
<section class="content container-fluid">
  <!-- <div class="dropzone" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div> -->
  <!-- <dropzone [config]="config" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone> -->

  <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
    <dropzone *ngIf="type === 'component'" class="dropzone-container" [config]="config" [disabled]="disabled" fxLayout="row"
      fxLayoutAlign="start strech" fxFlex="auto" [message]="'Click or drag your CSV or XLSX file here to upload'" (error)="onUploadError($event)"
      (success)="onUploadSuccess($event)"></dropzone>
  </div>
  
</section>