<div class="wrapper">

  <!-- Main Header -->
  <app-admin-header></app-admin-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-admin-sidebar></app-admin-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <!-- <app-admin-content></app-admin-dash> -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <app-admin-footer></app-admin-footer>

  <!-- Control Sidebar -->
  <!-- <app-starter-control-sidebar></app-starter-control-sidebar> -->
  <!-- /.control-sidebar -->
</div>
