<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    File Settings
    <!-- <small>Click the plus button or drag and</small> -->
  </h1>
  <!-- <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> Level</a>
    </li>
    <li class="active">Here</li>
  </ol> -->
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="card">
    <div class="card-body">
      <form novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>File Name:</label>
              <input type="text" class="form-control" placeholder="Enter ...">
            </div>
            <div class="form-group">
              <label>File Type:</label>
              <select class="form-control">
                <option value="">Select Type</option>
                <option value=".csv">.csv</option>
                <option value=".xlsx">.xlsx</option>
                <option value=".txt">.txt</option>
              </select>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> File has header
                </label>
                <span placement="right" ngbTooltip="Check if the first line in the file is the header">?</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Delimeter:</label>
              <select class="form-control">
                <option value="">Select Delimeter</option>
                <option value=".pipe">Pipe (|)</option>
                <option value=".comma">Comma (,)</option>
                <option value=".txt">Tab (\t)</option>
              </select>
            </div>
            <div class="form-group">
              <label>Destination:</label>
              <select class="form-control">
                <option value="">Select Destination</option>
                <option value="download">Download</option>
                <option value="remote">Remote</option>
              </select>
            </div>
            <div class="form-group">

            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>