<!-- Content Header (Page header) -->
<!-- <section class="content-header">
  <h1>
    Page Header
    <small>Optional description</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> Level</a>
    </li>
    <li class="active">Here</li>
  </ol>
</section> -->

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-primary" (click)="open(content)">Map New File</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <table class="table">
            <tbody>
              <tr>
                <th style="width: 10px">#</th>
                <th>Task</th>
                <th>Progress</th>
                <th style="width: 40px">Label</th>
              </tr>
              <tr>
                <td>1.</td>
                <td>Update software</td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                  </div>
                </td>
                <td>
                  <span class="badge bg-red">55%</span>
                </td>
              </tr>
              <tr>
                <td>2.</td>
                <td>Clean database</td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                  </div>
                </td>
                <td>
                  <span class="badge bg-yellow">70%</span>
                </td>
              </tr>
              <tr>
                <td>3.</td>
                <td>Cron job running</td>
                <td>
                  <div class="progress progress-xs progress-striped active">
                    <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                  </div>
                </td>
                <td>
                  <span class="badge bg-light-blue">30%</span>
                </td>
              </tr>
              <tr>
                <td>4.</td>
                <td>Fix and squish bugs</td>
                <td>
                  <div class="progress progress-xs progress-striped active">
                    <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                  </div>
                </td>
                <td>
                  <span class="badge bg-green">90%</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Map New File Modal Pop up -->

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
      <div class="row">
        <div class="col d-flex justify-content-between">
          <button type="button" class="btn btn-info" (click)="navigateToUpload(content)">Upload File</button>
          <button type="button" class="btn btn-dark">Remote File</button>
        </div>
      </div>
      <div class="row">
          <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-outline-secondary" (click)="c('Close click')">Close</button>
          </div>
        </div>
    </div>
  </ng-template>
</section>
<!-- /.content -->